*{
    box-sizing: border-box;
}

.mainWrapper{
    margin-left: auto;
}

.wrapper{
    margin-top: 10px;
    padding-bottom: 10px;
    max-width: 976px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}

.cardWrapper{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.weatherCard{
    border: 1px solid #e5e5e5;
    padding: 5px 2px;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    width: 14%;
    background-color: #eee;
}

.cardWrapper:last-child{
    margin-right: 10px;
}

.title{
    font-size: 28px;
    padding: 15px;
    background-color: #dae3ff;
    text-align: center;
}

.description{
    background-color: #00aeef;
    margin: 5px;
    color: #fff;
}

i{
    color: #00aeef;
}

.fav{
    margin: 10px;

}

#degrees {
    margin-left: 5px;
}